<section class="section-base client-slider">
	<div class="container">
		<ul class="slider" data-options="type:carousel,perView:5,perViewMd:4,perViewSm:3,perViewXs:1,gap:70,autoplay:3500">
			{{ content }}
		</ul>
	</div>
</section>