<section {{ attributes.addClass("section-base section-color section") }}>
	<div class="container">
		<div class="title">
			<h2>{{ label }}</h2>
			<p class="desc subtitle-section"></p>
		</div>
		
		{{ content }}
		
	</div>
</section>